
body {
  text-align: center;
  background-color: #efefef;
}

pre {
  margin: 0;
  padding: 0;
}

#log {
  font-family: monospace;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  text-align: left;
  /* width: 512px; */
  /* for easier reading of the tracelog */
  width: 1000px;
  margin: auto;
  border: 1px solid #afafaf;
  padding: 5px;
}

#output {
  width: 512px;
  height: 480px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
